[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HaploDiploidEquilibrium"]
	path = HaploDiploidEquilibrium
	url = https://github.com/cran/HaploDiploidEquilibrium
